

  <%= gravatar_for @user %>
  <p><strong>Username:
  <%= @user.username %></strong>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Current User', edit_user_path %> |
