<footer class="footer">
  
  <nav>
    <p>| <%= link_to "Home", todo_lists_path %> | 
         <a href="javascript:history.back()"  >Back</a> |
        <% if current_user.nil? %>
          <%= link_to "You need to login!", login_path %>
        <% else %>
          <%= link_to "About User: #{current_user.username}", current_user %>
        <% end %>
    </p>

  </nav> 
</footer>