<footer class="footer">
  
  <nav>
    <ul>

      <li><%= link_to "Home", todo_lists_path %> </li>
      <li><%= link_to "About User: ", current_user %><b><%= current_user.username %></b></li>
      <li><%= link_to "Back", '#' %></li> <!-- how to create "just back"-->
    </ul>
  </nav> 
</footer>