<footer class="footer">
  
  <nav>
    <ul>

      <li><%= link_to "Home", todo_lists_path %> </li>
      <li><%= link_to "About User: ", @user %><b>
      	<%= @user.username unless @user.nil? %></b></li>
      <li><a href="javascript:history.back()" >Back</a></li> 
    </ul>
  </nav> 
</footer>