<footer>
  
  <nav >
    <ul class="pager">
     
     <li><%= link_to "Home", todo_lists_path  %> </li>
     
     <li><a href="javascript:history.back()"  >Back</a></li>
     
     
        
    </ul>
  </nav> 
</footer>